*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

.body{
	background-color: rgb(26, 33, 36);
}

.main{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1rem;
	width: 100vw;
	height: 100vh;
	background-color: white;
}

nav{
	display: flex;
	width: 100%;
	height: 4rem;
	align-items: center;
	font-weight: 450;
	/* background-color: rgb(26, 33, 36); */
}

.nav-links{
	flex: 1;
	text-align: right;
}
 
.nav-links li{
	list-style: none;
}

.logo-area{
	display: flex;
	align-items: center;
}

.icon{
	width: 2%;
	height: 2%;
	margin-right: 32px;
	margin-left: 8px;
	opacity: 0.7
}

h3{
	color: rgb(90, 90, 90);
	margin-left: 24px;
}

.nav-links ul li{
	display: inline-block;
	padding: 0 1rem;
}

.nav-links ul a{
	font-weight: 450;
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: 0.3s;
}

.nav-links ul a:hover{
	color: rgb(192, 192, 192);
}

.gallery{
	align-items: center;
	margin: 15px 240px;
	text-align: center;
}

.gallery img{
	width: 256px;
	height: 256px;
	object-fit: cover;
	padding: 10px;
}

#lightbox .lb-container{
	padding: 10px;
}

footer{
	display: flex;
	width: 100%;
	height: 1.5rem;
	align-items: center;
	/* background-color: rgb(26, 33, 36); */
	position: absolute;
    bottom: 0;
}

.copyright{
	font-size: 0.5rem;
	font-weight: 100;
	color: gray;
	flex: 1;
	text-align: center;
}